@media screen and (min-width: 768px) {
  .sidebar-md {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 64px; /* sidebar'ın genişliği */
    z-index: 1000;
  }

  .content-md {
    margin-left: 64px; /* sidebar'ın genişliği kadar içeriğin başlangıcını ayarla */
  }
}
